<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yang.seata.order.mapper.OrderMapper">

    <resultMap type="com.yang.seata.order.entity.Order" id="OrderMap">
        <result property="id" column="ID" jdbcType="INTEGER"/>
        <result property="price" column="PRICE" jdbcType="INTEGER"/>
    </resultMap>

    <insert id="create">
        INSERT INTO `ORDER`(PRICE) VALUES (#{price})
    </insert>

</mapper>